# Tell linguist to ignore external libs when generating language statistics
libs/**/* linguist-vendored

# Tell linguist to reclassify all header files in src/ as C++ files
src/**/*.h linguist-language=C++

